@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chivo+Mono:wght@800;900&display=swap');

* {
    border: dashed #8c1b1b;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
}

.room-code {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #CCCCCC;
    font-family: 'Chivo Mono', monospace;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.title-text a {
    text-decoration: none;
    color:#8c1b1b;
}
.title-text h1 {
    margin: 0 0 0 0;
}

.room-code h5 {
    margin: 0 0 0 0;
}

.progress {
    width: 10vw;
}

.digital-timer {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}  

.word-list {
    font-family: 
}

.game-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-grid {
    display: grid;
    justify-content: center;
}

.col {
    aspect-ratio: 1;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

a {
    background-color: transparent;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

img {
border-style: none;
}

button,
input,
optgroup,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 1 */
line-height: 1.15; /* 1 */
margin: 0; /* 2 */
}

button,
input { /* 1 */
overflow: visible;
}

button,
select { /* 1 */
text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}
progress {
vertical-align: baseline;
}